
nav{
	display: flex;
	justify-content: space-around ;
	height: 10vh;
	background-color: rgb(75, 155, 155);
	color: white;
	
}


.nav-ul{
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
	list-style: none;
	font-size: larger;
	font-family:Georgia, 'Times New Roman', Times, serif;
	
}




